
// Converted Variables


// Custom Media Query Variables


/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

   Media Query Extensions:
     -gts = not-small
     -m  = medium
     -l  = large

*/

@mixin bw0 { border-width: $border-width-none; }
@mixin bw1 { border-width: $border-width-1; }
@mixin bw2 { border-width: $border-width-2; }
@mixin bw3 { border-width: $border-width-3; }
@mixin bw4 { border-width: $border-width-4; }
@mixin bw5 { border-width: $border-width-5; }

/* Resets */
@mixin bt-0 { border-top-width: $border-width-none }
@mixin br-0 { border-right-width: $border-width-none }
@mixin bb-0 { border-bottom-width: $border-width-none }
@mixin bl-0 { border-left-width: $border-width-none }

@media #{$breakpoint-not-small} {
  @mixin bw0-gts { border-width: $border-width-none; }
  @mixin bw1-gts { border-width: $border-width-1; }
  @mixin bw2-gts { border-width: $border-width-2; }
  @mixin bw3-gts { border-width: $border-width-3; }
  @mixin bw4-gts { border-width: $border-width-4; }
  @mixin bw5-gts { border-width: $border-width-5; }
  @mixin bt-0-gts { border-top-width: $border-width-none }
  @mixin br-0-gts { border-right-width: $border-width-none }
  @mixin bb-0-gts { border-bottom-width: $border-width-none }
  @mixin bl-0-gts { border-left-width: $border-width-none }
}

@media #{$breakpoint-medium} {
  @mixin bw0-m { border-width: $border-width-none; }
  @mixin bw1-m { border-width: $border-width-1; }
  @mixin bw2-m { border-width: $border-width-2; }
  @mixin bw3-m { border-width: $border-width-3; }
  @mixin bw4-m { border-width: $border-width-4; }
  @mixin bw5-m { border-width: $border-width-5; }
  @mixin bt-0-m { border-top-width: $border-width-none }
  @mixin br-0-m { border-right-width: $border-width-none }
  @mixin bb-0-m { border-bottom-width: $border-width-none }
  @mixin bl-0-m { border-left-width: $border-width-none }
}

@media #{$breakpoint-large} {
  @mixin bw0-l { border-width: $border-width-none; }
  @mixin bw1-l { border-width: $border-width-1; }
  @mixin bw2-l { border-width: $border-width-2; }
  @mixin bw3-l { border-width: $border-width-3; }
  @mixin bw4-l { border-width: $border-width-4; }
  @mixin bw5-l { border-width: $border-width-5; }
  @mixin bt-0-l { border-top-width: $border-width-none }
  @mixin br-0-l { border-right-width: $border-width-none }
  @mixin bb-0-l { border-bottom-width: $border-width-none }
  @mixin bl-0-l { border-left-width: $border-width-none }
}
