
// Converted Variables


// Custom Media Query Variables


/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group

   Media Query Extensions:
     -gts = not-small
     -m  = medium
     -l  = large

*/

@mixin dn {              display: none; }
@mixin di {              display: inline; }
@mixin db {              display: block; }
@mixin dib {             display: inline-block; }
@mixin dit {             display: inline-table; }
@mixin dt {              display: table; }
@mixin dtc {             display: table-cell; }
@mixin dt-row {          display: table-row; }
@mixin dt-row-group {    display: table-row-group; }
@mixin dt-column {       display: table-column; }
@mixin dt-column-group { display: table-column-group; }

/*
  This will set table to full width and then
  all cells will be equal width
*/
@mixin dt--fixed {
  table-layout: fixed;
  width: 100%;
}

@media #{$breakpoint-not-small} {
  @mixin dn-gts {              display: none; }
  @mixin di-gts {              display: inline; }
  @mixin db-gts {              display: block; }
  @mixin dib-gts {             display: inline-block; }
  @mixin dit-gts {             display: inline-table; }
  @mixin dt-gts {              display: table; }
  @mixin dtc-gts {             display: table-cell; }
  @mixin dt-row-gts {          display: table-row; }
  @mixin dt-row-group-gts {    display: table-row-group; }
  @mixin dt-column-gts {       display: table-column; }
  @mixin dt-column-group-gts { display: table-column-group; }

  @mixin dt--fixed-gts {
    table-layout: fixed;
    width: 100%;
  }
}

@media #{$breakpoint-medium} {
  @mixin dn-m {              display: none; }
  @mixin di-m {              display: inline; }
  @mixin db-m {              display: block; }
  @mixin dib-m {             display: inline-block; }
  @mixin dit-m {             display: inline-table; }
  @mixin dt-m {              display: table; }
  @mixin dtc-m {             display: table-cell; }
  @mixin dt-row-m {          display: table-row; }
  @mixin dt-row-group-m {    display: table-row-group; }
  @mixin dt-column-m {       display: table-column; }
  @mixin dt-column-group-m { display: table-column-group; }

  @mixin dt--fixed-m {
    table-layout: fixed;
    width: 100%;
  }
}

@media #{$breakpoint-large} {
  @mixin dn-l {              display: none; }
  @mixin di-l {              display: inline; }
  @mixin db-l {              display: block; }
  @mixin dib-l {             display: inline-block; }
  @mixin dit-l {             display: inline-table; }
  @mixin dt-l {              display: table; }
  @mixin dtc-l {             display: table-cell; }
  @mixin dt-row-l {          display: table-row; }
  @mixin dt-row-group-l {    display: table-row-group; }
  @mixin dt-column-l {       display: table-column; }
  @mixin dt-column-group-l { display: table-column-group; }

  @mixin dt--fixed-l {
    table-layout: fixed;
    width: 100%;
  }
}

