
// Converted Variables


// Custom Media Query Variables


/*

   FONT WEIGHT
   Docs: http://tachyons.io/docs/typography/font-weight/

   Base
     fw = font-weight

   Modifiers:
     1 = literal value 100
     2 = literal value 200
     3 = literal value 300
     4 = literal value 400
     5 = literal value 500
     6 = literal value 600
     7 = literal value 700
     8 = literal value 800
     9 = literal value 900

   Media Query Extensions:
     -gts = not-small
     -m  = medium
     -l  = large

*/

@mixin normal { font-weight: normal; }
@mixin b      { font-weight: bold; }
@mixin fw1    { font-weight: 100; }
@mixin fw2    { font-weight: 200; }
@mixin fw3    { font-weight: 300; }
@mixin fw4    { font-weight: 400; }
@mixin fw5    { font-weight: 500; }
@mixin fw6    { font-weight: 600; }
@mixin fw7    { font-weight: 700; }
@mixin fw8    { font-weight: 800; }
@mixin fw9    { font-weight: 900; }


@media #{$breakpoint-not-small} {
  @mixin normal-gts { font-weight: normal; }
  @mixin b-gts      { font-weight: bold; }
  @mixin fw1-gts    { font-weight: 100; }
  @mixin fw2-gts    { font-weight: 200; }
  @mixin fw3-gts    { font-weight: 300; }
  @mixin fw4-gts    { font-weight: 400; }
  @mixin fw5-gts    { font-weight: 500; }
  @mixin fw6-gts    { font-weight: 600; }
  @mixin fw7-gts    { font-weight: 700; }
  @mixin fw8-gts    { font-weight: 800; }
  @mixin fw9-gts    { font-weight: 900; }
}

@media #{$breakpoint-medium} {
  @mixin normal-m { font-weight: normal; }
  @mixin b-m      { font-weight: bold; }
  @mixin fw1-m    { font-weight: 100; }
  @mixin fw2-m    { font-weight: 200; }
  @mixin fw3-m    { font-weight: 300; }
  @mixin fw4-m    { font-weight: 400; }
  @mixin fw5-m    { font-weight: 500; }
  @mixin fw6-m    { font-weight: 600; }
  @mixin fw7-m    { font-weight: 700; }
  @mixin fw8-m    { font-weight: 800; }
  @mixin fw9-m    { font-weight: 900; }
}

@media #{$breakpoint-large} {
  @mixin normal-l { font-weight: normal; }
  @mixin b-l      { font-weight: bold; }
  @mixin fw1-l    { font-weight: 100; }
  @mixin fw2-l    { font-weight: 200; }
  @mixin fw3-l    { font-weight: 300; }
  @mixin fw4-l    { font-weight: 400; }
  @mixin fw5-l    { font-weight: 500; }
  @mixin fw6-l    { font-weight: 600; }
  @mixin fw7-l    { font-weight: 700; }
  @mixin fw8-l    { font-weight: 800; }
  @mixin fw9-l    { font-weight: 900; }
}
