
// Converted Variables


// Custom Media Query Variables


/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -gts = not-small
     -m  = medium
     -l  = large

*/

  @mixin lh-solid { line-height: $line-height-solid; }
  @mixin lh-title { line-height: $line-height-title; }
  @mixin lh-copy  { line-height: $line-height-copy; }

@media #{$breakpoint-not-small} {
  @mixin lh-solid-gts { line-height: $line-height-solid; }
  @mixin lh-title-gts { line-height: $line-height-title; }
  @mixin lh-copy-gts  { line-height: $line-height-copy; }
}

@media #{$breakpoint-medium} {
  @mixin lh-solid-m { line-height: $line-height-solid; }
  @mixin lh-title-m { line-height: $line-height-title; }
  @mixin lh-copy-m  { line-height: $line-height-copy; }
}

@media #{$breakpoint-large} {
  @mixin lh-solid-l { line-height: $line-height-solid; }
  @mixin lh-title-l { line-height: $line-height-title; }
  @mixin lh-copy-l  { line-height: $line-height-copy; }
}

